.proimg img {
    transition: 0.3s ease-in-out;
}
.proimg img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    
}
/* .danger {
    background-color: #dc3545;

}
.success {
    background-color: #198754;
}
/* .cart {
    transition: 0.5s ease-in-out;
}
.cart:hover {
    transform: translateY(-10px)
} */