.carousel-indicators [data-bs-target] {
        background-color:#198754; 
        border-radius: 50%;
        height: 10px;
        width: 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon  {
        background-color:#198754;
        ;
}
p {
        color: black;
}